name: CI

on:
  pull_request:
  push:
    branches: ["main"]

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: actions/setup-node@1d11999632ad94a9dee4d613f283ff5800078044 # v4.2.0
        with:
          node-version: 20
          cache: npm

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint
        continue-on-error: true

      - name: Typecheck
        run: npm run typecheck
        continue-on-error: true

      - name: Test
        run: npm test
        continue-on-error: true
